<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">

    <a class="navbar-brand ms-3" href="#">Ecommerce</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left Menu -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <!-- Dropdowns -->        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Home</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Pages</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/product">Products</a></li>
            <li><a class="dropdown-item" routerLink="/product">Another</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Contact Us</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another</a></li>
          </ul>
        </li>
      </ul>

      <!-- Search box -->
      <form  class="d-flex ms-3" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <button class="btn btn-primary btn-sm">Search</button>
        </div>
      </form>

      <!-- Cart -->
      <a href="#" class="ms-4 text-dark text-decoration-none d-flex align-items-center">
        <i class="bi bi-cart me-1"></i> Carts
      </a>

      <!-- Login -->
    <!-- <a class="ms-4 text-dark text-decoration-none d-flex align-items-center" routerLink="/Login">
        <i class="bi bi-person me-1" (click)="onLoginClick()"></i>
         <span>{{ textNameChange }}</span>
      </a>  -->

<!-- Login / Logout -->
<a
  class="ms-4 text-dark text-decoration-none d-flex align-items-center gap-1"
  (click)="onLoginClick()"
  style="cursor: pointer;"
>
  <i class="bi bi-person me-1"></i>
  <span>{{ textNameChange }}</span>
</a>



    </div>
  </div>
</nav>



<router-outlet></router-outlet>
