/* /* 
  /* Card Hover Effect */
  .product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 22px rgba(0,0,0,0.2);
  }

  /* Image Hover Zoom */
  .img-container {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }

  .product-img {
    height: 320px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
  }
  .product-card:hover .product-img {
    transform: scale(1.12);
  }

  /* Button Hover */
  .btn-dark:hover {
    background-color: #ff5722 !important;
    border-color: #ff5722 !important;
    transition: 0.3s ease;
  }

  .dropdown-menu-center {
  left: 50% !important;
  transform: translateX(-50%) !important;
}
 














.category-bar-container {
  width: 100%;
  background: #131921;
  padding: 8px 0;
  overflow-x: auto;
  white-space: nowrap;
} 

.category-bar {
  display: inline-flex;
  gap: 20px;
  padding-left: 20px;
}

.category-item {
  color: #fff;
  cursor: pointer;
  padding: 6px 10px;
  font-size: 15px;
}
  /*

.category-item:hover {
  background: #232f3e;
  border-radius: 4px;
} */






   