

<!-- Horizontal Categories Bar -->
<div class="category-bar-container">
  <div class="category-bar">
    <div 
      class="category-item" 
      *ngFor="let cat of Category"
      (click)="GetAllCategoryByID(cat.categoryId)">
      {{ cat.categoryName }}
    </div>
  </div>
</div>
<br>

<!-- Products Grid -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
    <div class="col" *ngFor="let prod of Product">
      <div class="card product-card h-100 rounded-3">

        <div class="img-container">
          <img [src]="prod.productImageUrl" class="card-img-top product-img" alt="Product Image" />
        </div>

        <div class="card-body">
          <h5 class="card-title fw-semibold">{{ prod.productShortName }}</h5>
          <p class="card-text text-danger fw-semibold">Price $ {{ prod.productPrice }}</p>
          <button class="btn btn-dark w-100 mt-2">Add to Cart</button>
        </div>

      </div>
    </div>
  </div>
</div>



